*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-color);
    font-family: 'Inter Tight', sans-serif;
}
:root{
    --game-title:#FB62F6;
    --body-bg-color:#050401;
    --button-bg-color:#C6C013;
    --newgame-btn-bg-color:#9BE564;
    --resetbtn-bg-color:#EF2917;
    --text-color:#fff;
}
body{
    width: 100vw;
    height: 100vh;
    background-color:var(--body-bg-color);
}
.game-title{
    text-align: center;
    color:var(--game-title); 
    text-transform: uppercase;
    padding-top: 1rem;
}
.game-container{
    margin: auto;
    width: 70vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1rem;
    /* border: 1px solid #fff; */
}
.msg-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
#winning-msg{
    font-size: 2rem;
    font-weight: 500;
    color: var(--text-color);
    text-transform: uppercase;
}
#newgame-button{
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
    background-color:var(--newgame-btn-bg-color);
    border: none;
    border-radius: 0.5rem;
    color: black;
    cursor: pointer;
}
.hide{
    display: none;
}
.game{
    width: 30vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
    flex-wrap: wrap;
}
.box{
    width: 8rem;
    height: 8rem;
    border-radius: 0.5rem;
    border: none;
    background-color: var(--button-bg-color);
    font-size: 4rem;
    font-weight: 500;
    box-shadow: 5px 5px 0.2rem rgba(255,255,255,0.7);
    cursor:pointer;
}
#reset-btn{
    padding: 1rem;
    border-radius: 0.5rem;
    border: none;
    background-color: var(--resetbtn-bg-color);
    font-size: 1.2rem;
    font-weight: 500;
    cursor:pointer;
}

@media screen and (max-width:1355px) {
    .game{
        width:40vw;
        height: 50vh;
    }
    .box{
        width: 8rem;
        height: 8rem;
    }
}
@media screen and (max-width:1015px) {
    .game{
        width: 50vw;
    }
}
@media screen and (max-width:813px) {
    #winning-msg{
        font-size: 1.5rem;
    }
    .game{
        width: 60vw;
    }
}
@media screen and (max-width:676px) {
    .game{
        width: 70vw;
    }
}
@media screen and (max-width:604px){
    #winning-msg{
        font-size: 1.4rem;
    } 
}
@media screen and (max-width:580px) {
    .game-container{
        width: 80vw;
    }
    .game{
        width: 80vw;
    }
}
@media screen and (max-width:508px) {
    .game-container{
        width: 100vw;
        height:100vh;
    }
    .game{
        width:100vw;
        height: 50vh;
    }
    .box{
        width: 8rem;
        height: 8rem;
    }
}
@media screen and (max-width:406px) {
    .game-container{
        width: 90vw;
        height: 70vh;
    }
    .game{
        width: 80vw;
        height: 40vh;
    }
    .box{
        width: 6rem;
        height: 6rem;
    }
}
@media screen and (max-width:388px) {
    .game-container{
        width: 100vw;
    }
    .game{
        width: 100vw;
    }
}
@media screen and (max-width:310px) {
    .game-container{
        height: 100vh;
    }
    .game{
        width: 84vw;
        height: 40vh;
    }
    .box {
        width: 4rem;
        height: 4rem;
    }
}
@media screen and (max-width:256px) {
    #winning-msg{
        font-size: 1.2rem;
        text-align: center;
    }
    .game{
        width:90vw;
        height: 35vh;
    }
}

@media screen and (max-width:238px) {
    .game {
        width: 93vw;
        height: 25vh;
    }
    
}